<Title>Show</Title>
<%- include ("layouts/header") %>
<div class="ajaxbg" id="buynow">
    <div class="ajaxinner">
        <h3>You are being redirected to PayPal...</h3>
        <img src="loading1.gif" alt="loading...">
    </div>
</div>

<header>
    <div class="Title">
        <h2><%= tutors.Title%></h2><br>
        <p>
            <h4><%= tutors.tags%></h4>
        </p>
    </div>
</header>
<main>
    <div class="row">
        <div class="left col-lg-4">
            <div class="photo-left">
                <img class="photo" src="<%= tutors.imgpath%>" />
            </div>
            <h4 class="name"><%= tutors.By%></h4>
            <% if(tutors.phoneno!="none"){%>
            <p class="info"><%= tutors.phoneno%></p>
            <% } %>
            <p class="desc"><%= tutors.about%></p>
            <div class="social">
                <i class="fab fa-facebook icon" aria-hidden="true"></i>
                <i class="fab fa-twitter icon" aria-hidden="true"></i>
                <i class="fab fa-pinterest icon" aria-hidden="true"></i>
                <i class="fab fa-tumblr icon" aria-hidden="true"></i>
            </div>
        </div>
        <div class="right col-lg-8">
            <ul class="tab">
                <li><button class="tablinks active" onclick="openCity(event, 'About')">About</button></li>
                <li><button class="tablinks reviewtab" onclick="openCity(event, 'Reviews')">Reviews of
                        <%= tutors.By%></button>
                </li>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                </li>
                <li>
                    <form action="/show//<%= tutors._id%>/addtolist" method="POST">
                        <button class="btn btn-primary" onclick="added()">Add to Wishlist</button>
                    </form>
                </li>

                <li>

                    <!-- <button id="card-button" class="btn btn-primary" data-secret="{{ client_secret }}">
                        Buy Now
                    </button> -->
                    <!-- <form action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">
                            <input type="hidden" name="item_name" value="<%= tutors.Title%>">
                            <input type="hidden" name="currency_code" value="INR">
                            <input type="hidden" name="amount" value="<%= tutors.feesnew%>">-->
                    <form action="/show/<%= tutors._id%>/checkout" method="GET">
                        <input type="submit" value="Buy Now" class="btn btn-primary" onclick="buyitem()">
                    </form>
                </li>
                <!-- <li><button class="tablinks" onclick="openCity(event, 'Fees')">Fees</button></li> -->
            </ul>

            <!-- <a href="/<%= tutors._id%>/checkout" >Enroll</a> -->


            <div id="About" class="row content active" style="display:block">

                <p>
                    <ul class="ulinpara">
                        <% if(tutors.link!="none"){%>
                        <li class="details"><i class="fas fa-link points"></i><a href="<%= tutors.link%>">
                                <%= tutors.link%></a>
                        </li>
                        <% } %>
                        <li class="details"><i class="fas fa-calendar-day points"></i> <%= tutors.date%>
                        </li>
                        <% if(tutors.phoneno!="none"){%>
                        <li class="details"><i class="fas fa-phone points"></i> <%= tutors.phoneno%></li>
                        <% } %>
                        <li class="details"><i class="fas fa-map-marker-alt points"></i>
                            <%= tutors.location%>
                        </li>
                        <li class="details"><i class="fas fa-coins points"></i> <i class="fas fa-rupee-sign"></i>
                            <%= tutors.feesnew%>
                        </li>
                        <li>
                            <div id="googleMap" style="width:40%;height:200px;"></div>

                    </ul>
                </p>
            </div>
            <div id="Reviews" class="row content" style="display:none">

                <div class="row" style="margin:40px;">
                    <div class="col-md-12">
                        <div class="text-right"></div>
                        <a class="btn btn-success btn-green" id="open-review-box" style="width:580px;">Leave a
                            Review</a>

                        <div class="row" id="post-review-box" style="display:none;">
                            <div class="col-md-12">
                                <form accept-charset="UTF-8" action="" method="post">
                                    <input id="ratings-hidden" name="rating" type="hidden">
                                    <textarea class="form-control animated" cols="50" id="new-review"
                                        name="comment[text]" placeholder="Enter your review here..."
                                        rows="5"></textarea>

                                    <div class="text-right">
                                        <div class="stars starrr" data-rating="0"></div>
                                        <a class="btn btn-danger btn-sm" href="#" id="close-review-box"
                                            style="display:none; margin-right: 10px;">
                                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                        <form action="/<%= tutors._id%>" method="POST"><button
                                                class="btn btn-success btn-lg" type="submit">Save</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% for (var i = 0; i < tutors.comments.length; i++){ %>
                    </p>
                    <div class="review">
                        <h4 class="review__Title"><%= tutors.comments[i].author.username%></h4>
                        <div class="review__score">
                            <span class="score">4.9</span>
                            <span>&nbsp;/&nbsp;5&nbsp;</span>
                            <span class="score-stars">⭐⭐⭐⭐⭐</span>
                        </div>
                        <div class="review__text">"<i><%= tutors.comments[i].text%></i>" </div>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    function initMap() {
        var uluru = { lat: 19.0222, lng: 72.8561 };
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

    function added() {
        alert("Item added to you wishlist");
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key= 
AIzaSyB2bXKNDezDf6YNVc-SauobynNHPo4RJb8&callback=initMap">
</script>
<%- include ("layouts/footer") %>